@model ControlePecasWeb_v0.Models.Peca

@{
    ViewData["Title"] = "Create";
}

<style>
    :root {
        --verde-claro: #b8d8ba;
        --azul-claro: #a2d5f2;
        --azul-escuro: #0000bf; /* Azul escuro */
        --verde-lima: #96E637; /* Verde-lima mais claro */
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: var(--verde-claro);
    }

    .navbar {
        background-color: var(--azul-claro) !important;
        border-bottom: 2px solid var(--verde-claro);
    }

    .navbar-brand, .nav-link {
        color: var(--azul-escuro) !important; /* Definindo a cor do texto da navbar em azul escuro */
        background-color: transparent; /* Removendo o fundo */
        padding: 0; /* Removendo o padding extra */
        border-radius: 0; /* Removendo borda arredondada */
    }

        .navbar-brand:hover, .nav-link:hover {
            color: var(--azul-escuro) !important; /* Mantendo a cor do texto ao passar o mouse */
        }

    .footer {
        background-color: #f0f0f0;
        padding: 10px 0;
        border-top: 2px solid var(--azul-claro);
    }

        .footer a {
            color: var(--azul-claro);
        }

    .container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
        margin-top: 20px;
        border: 1px solid var(--azul-claro);
    }

    /* Estilo para o botão de submit */
    button[type="submit"], .btn-primary {
        background-color: var(--verde-lima) !important; /* Cor de fundo verde-lima */
        border-color: var(--verde-lima) !important; /* Cor da borda verde-lima */
        color: var(--azul-escuro) !important; /* Cor do texto azul-escuro */
    }

        button[type="submit"]:hover, .btn-primary:hover {
            background-color: var(--verde-claro) !important; /* Cor de fundo ao passar o mouse */
            border-color: var(--azul-claro) !important; /* Cor da borda ao passar o mouse */
            color: var(--azul-escuro) !important; /* Cor do texto ao passar o mouse */
        }
</style>


<h1>Cadastro de Peças</h1>

<h4>Campos obrigatórios para cadastro *</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PartNumber" class="control-label"></label>
                <input asp-for="PartNumber" class="form-control" />
                <span asp-validation-for="PartNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seg" class="control-label"></label>
                <input asp-for="Seg" class="form-control" />
                <span asp-validation-for="Seg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medida" class="control-label"></label>
                <input asp-for="Medida" class="form-control" />
                <span asp-validation-for="Medida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
