@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="header">
        <h1 class="display-4">Bem-vindo à Plataforma de Cadastro e Monitoramento</h1>
        <p class="lead">Otimizando a manutenção de equipamentos para a Votorantim Cimentos</p>
    </div>
    <div class="content">
        <h2>Sobre o Projeto</h2>
        <p>Este sistema foi desenvolvido para melhorar o controle e a eficiência na manutenção de equipamentos de mineração.</p>
        <p>Utilizando tecnologias como C#, ASP.NET Core, e Entity Framework.</p>

    </div>
</div>

<style>
    .container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    .header {
        text-align: center;
        margin-bottom: 40px;
    }

        .header .display-4 {
            font-size: 2.5em;
            margin-bottom: 10px;
        }

        .header .lead {
            font-size: 1.2em;
            color: #6c757d;
        }

    .content {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
    }

        .content h2 {
            font-size: 1.8em;
            margin-bottom: 20px;
        }

        .content p {
            font-size: 1.1em;
            margin-bottom: 10px;
        }

    .btn-primary {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.1em;
        color: #fff;
        background-color: #007bff;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }
</style>
