@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="container">
    <div class="header">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <div class="content">
        <p>Esta página detalha a política de privacidade do nosso site. A proteção dos seus dados pessoais é de extrema importância para nós. Abaixo, você encontrará informações sobre os dados que coletamos, como os usamos e como os protegemos.</p>

        <h2>Informações que Coletamos</h2>
        <p>Coletamos diferentes tipos de informações para várias finalidades, a fim de fornecer e melhorar nosso serviço para você.</p>

        <h3>Tipos de Dados Coletados</h3>
        <ul>
            <li><strong>Dados Pessoais:</strong> Enquanto utiliza nosso serviço, podemos solicitar que você nos forneça certas informações de identificação pessoal que podem ser usadas para contatá-lo ou identificá-lo.</li>
            <li><strong>Dados de Uso:</strong> Também podemos coletar informações sobre como o serviço é acessado e usado.</li>
        </ul>

        <h2>Uso dos Dados</h2>
        <p>Utilizamos os dados coletados para vários propósitos:</p>
        <ul>
            <li>Para fornecer e manter nosso serviço</li>
            <li>Para notificá-lo sobre alterações em nosso serviço</li>
            <li>Para permitir que você participe de recursos interativos de nosso serviço quando optar por fazê-lo</li>
            <li>Para fornecer suporte ao cliente</li>
            <li>Para monitorar o uso de nosso serviço</li>
        </ul>
    </div>
</div>

<style>
    .container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    .header {
        text-align: center;
        margin-bottom: 40px;
    }

        .header .display-4 {
            font-size: 2.5em;
            margin-bottom: 10px;
        }

    .content {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
    }

        .content h2 {
            font-size: 1.8em;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .content h3 {
            font-size: 1.5em;
            margin-top: 15px;
            margin-bottom: 10px;
        }

        .content p {
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        .content ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        .content li {
            margin-bottom: 10px;
        }
</style>

